# Client-side

# Aptos
NEXT_PUBLIC_APTOS_SHELBYNET_API_KEY=
NEXT_PUBLIC_APTOS_SHELBYNET_GAS_STATION_API_KEY=

# Shelby
NEXT_PUBLIC_SHELBY_SHELBYNET_API_KEY=

# Server-only

# Aptos
APTOS_SHELBYNET_GAS_STATION_API_KEY=

# Database
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=